/* AboutPage.css */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #020202;
    color: #333;
}

.about-content {
    max-width: 800px;
    max-height: 700px;
    padding: 20px;
    background-color: #990000;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}

.about-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;
    
}

.about-content p:last-child {
    margin-bottom: 0;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-content {
    text-align: center;
}

.about-images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about-image {
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    margin-right: 10px;
}
body{
    background-color: black;
}
