.contact-container {
  padding: 30px;
  margin: 90px auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color:#990000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.contact-info-container {
  padding: 20px;
  background-color:#990000;

  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form-container {
  padding: 20px;
  background-color:#990000;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-input {
  margin-bottom: 15px;
}

.contact-button {
  margin-top: 15px;
}

/* Styling for Snackbar */
.MuiSnackbarContent-root {
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
}

.MuiSnackbarContent-action {
  margin-left: 10px;
}

/* Styling for Links */
a {
  color: #2196f3;
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .contact-container {
      padding: 10px;
  }

  .contact-title {
      font-size: 20px;
  }

  .contact-info-container,
  .contact-form-container {
      padding: 15px;
      background-color:#990000;
      
  }
}
