.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.contact-info-container,
.contact-form-container {
  padding: 20px;
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 15px;
  width: 500px;
  text-align: center;
 height: 500px;
  background-color: #862323;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  
  border-radius: 4px;
}

.contact-button {
  padding: 8px 20px;
  background-color: #990000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #770000;
}

@media (max-width: 768px) {
  .contact-info-container,
  .contact-form-container {
      padding: 10px;
  }
  .contact-input {
      width: calc(100% - 20px);
  }
}
