/* contact.css */
.contact-container {
  width: 100%;
  max-width: 1000px; /* Limite la largeur du conteneur */
  margin: 50px auto; /* Centre le conteneur horizontalement avec un espace au-dessus */
  padding: 20px;
  display: flex; /* Utilise un layout en flexbox */
  flex-direction: column; /* Arrange les éléments en colonne */
  gap: 20px; /* Ajoute un espacement entre les éléments enfants */
  justify-content: center; /* Centre les éléments horizontalement */
  /* Ajoute une bordure de 1 pixel solide */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  /* Couleur de fond */

}


.contact-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  color: white;
}

.contact-info,
.contact-form {
  padding: 20px;
  background-color: #fff; /* Fond blanc pour les sections */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Ombre légère */
  background-color: #990000;
  color: white;
}
body{
  background-image: url(.//ImagesAbout/squid-game-067-marbles-line-up-9fuwanyml41ff5l7.jpg)
}

.contact-info {
  margin-bottom: 10px; /* Espacement en bas de la section */
  width: 800px;
  color: white;
}

.contact-form {
  display: flex; /* Utilise un layout en flexbox */
  flex-direction: column; /* Arrange les éléments en colonne */
  gap: 10px; /* Ajoute un espacement entre les éléments enfants */
  width: 800px;
  color: white;
}

.contact-form .MuiTextField-root {
  margin-bottom: 10px; /* Espacement entre les champs */
  color: white;
}

.contact-form .MuiButton-root {
  align-self: flex-end; /* Aligne le bouton à droite */
}
