/* MovieDetails.css */

.movie-details-container {
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-details-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}
